.main{
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.TextoMain {
  font-size: 1.3rem;
  padding: 10px;
  border: solid 1px red;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.container2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.icone{

   background: #e0f2fe;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 16px;
}

.texto1{
  padding: 10px;
  height: 284px;
  width: 384px;
background: rgb(255, 255, 255);
box-shadow: 0 4px 8px rgba(0,0,0,0.05);
border-radius: 8px;
margin-top: 20px;
font-family: "Inter", sans-serif;
}
.texto2{
  padding: 10px;
  height: 284px;
  width: 384px;    
  background: rgb(255, 255, 255);
box-shadow: 0 4px 8px rgba(0,0,0,0.05);
border-radius: 8px;  
margin-top: 20px;
font-family: "Inter", sans-serif;

}
.infraestrutura{
  padding: 10px;
  height: 284px;
  width: 384px;
  background: rgb(255, 255, 255);
box-shadow: 0 4px 8px rgba(0,0,0,0.05);
border-radius: 8px;
  margin-top: 20px; 
  font-family: "Inter", sans-serif;
}
.suporte-tecnico{
  padding: 10px;
  height: 284px;
  width: 384px;
  background: rgb(255, 255, 255);
box-shadow: 0 4px 8px rgba(0,0,0,0.05);
border-radius: 8px;
  margin-top: 20px; 
  font-family: "Inter", sans-serif;
}
.texto4{
  padding: 10px;
  height: 284px;
  width: 384px;
}
.GestaodeRedes{

  padding: 10px;
  height: 284px;
  width: 384px;
  background: rgb(255, 255, 255);
box-shadow: 0 4px 8px rgba(0,0,0,0.05);
border-radius: 8px;
  margin-top: 20px; 
  font-family: "Inter", sans-serif;
}