:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Menu de navegação */
.menu {
  padding: 12px;
  display: flex;
  list-style: none;
  justify-content: space-around;
  cursor: pointer;
  color: black;
}
.menubar{
  list-style: none;
  display: flex;
  gap: 10px;
}

/* Cabeçalho com gradiente */
.head {
  width: 100%;
  background: linear-gradient(135deg, #1E2C32 0%, #294B5B 100%);
  padding: 2rem 4rem;
}

/* Novo container para alinhar texto e imagem */
.heroContent {
  display: flex;
  align-items: center;
  gap: 10em;
  flex-wrap: wrap;
}

/* Texto principal */
.texto {
  max-width: 50%;
  color: white;
}

.texto h1 {
  font-size: 3.2rem;
}

.texto p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* Container de botões */
.botoes {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

/* Botões */
.botao1 {
  height: 4em;
  width: 10rem;
  border-radius: 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.botao2 {
  height: 4em;
  width: 10rem;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

/* Imagem */
